@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Open+Sans&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; /* Add box-sizing for consistent sizing */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; /* Hide horizontal overflow */
  min-height: 150vh; /* Set a minimum height equal to the viewport height */
}

.jus-logo {
  margin: auto;
  padding: 3rem;
}

.fade-in {
  display: flex;
  margin: 20px auto -20px; /* Added a negative top margin to move the fade in div up */
  flex-direction: column; /* Change flex-direction to column for smaller screens */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally *//* Add padding for spacing */
  text-align: center; /* Center text */
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  box-shadow: rgba(13, 110, 253, 0.25) 0px 54px 55px, rgba(13, 110, 253, 0.12) 0px -12px 30px, rgba(13, 110, 253, 0.12) 0px 4px 6px, rgba(13, 110, 253, 0.17) 0px 12px 13px, rgba(13, 110, 253, 0.09) 0px -3px 5px;
  border-radius: 7rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image {
  max-width: 100%; /* Ensure the image does not exceed its container */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1.5rem;
}

.Hh {
  color: #174ea6;
  font-size: 2rem; /* Use relative font size */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 1rem 0; /* Adjust margins */
}

.para {
  color: #000000;
  font-size: 1.5rem; /* Use relative font size */
  margin: 3rem;
}

@media screen and (min-width: 768px) {
  /* Apply styles for screens with a minimum width of 768px (tablets and larger) */
  .fade-in {
    flex-direction: row; /* Revert to original layout for larger screens */
    margin: 12rem 2rem;
  }

  .Hh {
    font-size: 3rem; /* Increase font size for larger screens */
    margin: 0 4rem;
  }
}
